.what-well-build {
  position: relative;
  background-color: transparent;
}

.what-well-build .container {
  position: relative;
  z-index: 1;
}

.what-well-build .background-block::before {
  background: rgb(216, 71, 71);
}

.what-well-build::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: calc(100% + 100px);
  clip-path: polygon(0% 0%, 100% 50px, 100% 100%, 0% calc(100% - 50px));

  background-color: black;
}

.number text {
  stroke-width: 0.5px;
  fill: transparent;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

.number .number-colored {
  stroke: #ffde40;
  stroke-dashoffset: 1000;
}

.number .number-gray {
  stroke: #444;
}

.app-container:hover .number .number-colored {
  animation: dash 4s linear infinite;
}

@media screen and (min-width: 1280px) {
  .app-video {
    max-width: 500px;
  }
}

.app-container .demo-button,
.app-container .preview-button {
  transition: 1.5s ease all;
}

.app-container:hover .preview-button {
  background: #ed8936 !important;
  color: #f8ddae !important;
}

.app-container:hover .demo-button {
  background: #f6e05e !important;
  color: #865625 !important;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }

  to {
    stroke-dashoffset: 0;
  }
}
