.what-well-build {
  position: relative;
}

.what-well-build .container {
  position: relative;
  z-index: 1;
}

.what-well-build .background-block::before {
  background: rgb(216, 71, 71);
}

.number text {
  stroke-width: 0.5px;
  fill: #333;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

.number .number-colored {
  stroke: #ffde40;
  stroke-dashoffset: 1000;
}

.number .number-gray {
  stroke: #333;
}

.app-container:hover .number .number-colored {
  animation: dash 4s linear infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }

  to {
    stroke-dashoffset: 0;
  }
}
