.main-title {
  width: 400px;
}

.main-title-number {
  font-size: 200px;
  font-variant-numeric: tabular-nums;
}

@media (max-width: 480px) {
  .main-title {
    width: 320px !important;
  }
}

@media (min-width: 1280px) {
  .main-title {
    width: 400px;
  }
  .main-title-number {
    font-size: 250px;
  }
}
