.walkthrough {
  min-height: 544px;
}

@media screen and (min-width: 768px) {
  .walkthrough {
    min-width: 500px;
  }
}

.loader {
  @apply flex justify-between;
  background: #63b4ed;
  padding: 10px;
  border-radius: 50px;
  width: 70px;
  margin-bottom: 8px;
  position: relative;
}

.loader div {
  @apply block rounded-full;
  height: 10px;
  width: 10px;
  background: #277ab6;
  animation: loader 1s infinite;
}

.loader div:not(:last-child) {
  margin-right: 8px;
}

.loader div:first-child {
  animation-delay: 0.1s;
}

.loader div:nth-child(2) {
  animation-delay: 0.2s;
}

.loader div:last-child {
  animation-delay: 0.3s;
}

@keyframes loader {
  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.7;
    transform: scale(0.8);
  }
}

.message {
  display: grid;
  grid-template-columns: 55px auto 55px;
}

.message:last-child {
  margin-bottom: 0;
}

.message:nth-child(even) > div:first-child {
  opacity: 0;
}

.message:nth-child(odd) > div:last-child {
  opacity: 0;
}
