@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen;
  background: #19beff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Orbitron";
}

.orbitron {
  font-family: "Orbitron";
}
.fugaz-one {
  font-family: "Fugaz One";
}
