.main-title {
  width: auto;
}

.main-title-number {
  font-size: 200px;
  font-variant-numeric: tabular-nums;
}

@media (min-width: 1280px) {
  .main-title {
    width: 400px;
  }
  .main-title-number {
    font-size: 250px;
  }
}

.newsletter-blurb span:before {
  display: inline-block;
  position: absolute;
  content: "";
  z-index: -1;
  margin-top: 2px;
  margin-left: 10px;
  background: #daeeff;
  height: 20px;
  width: 92%;
  top: 5px;
  left: -3px;
}
